<label>Server Name</label>
<!--<input type="text" class="form-control" (input)="onUpdateServerName($event)"><br />-->
<input type="text" [(ngModel)]="serverName">
<!--<p>{{ serverName }}</p>-->
<br />
<button [disabled]="!allowNewServer" class="btn btn-primary" (click)="onCreateServer()">
  Select Server
</button>
<!--<p [innerText]="allowNewServer"></p>-->
<!--<p>{{ serverCreationStatus }}</p>-->
<p *ngIf="isServer; else noServer">Server was created, name is {{serverName}}</p>
<ng-template #noServer>
  <p>No server was created. Click to create one.</p>
</ng-template>
<app-server *ngFor="let server of servers; let i = index"></app-server>